{% extends 'layouts.html' %}
{% block title %}register{% endblock %}
{% block head %}
<script type="text/javascript">
            function doit_onkeypress(event){
                if (event.keyCode == 13 || event.which == 13){
                    register();
                }
            }
</script>
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="container">
    <h3>Register</h3>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 shadow mb-4 mt-4 p-4">
            <div class="mb-3">
                <label for="name" id="username2" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" onkeypress="javascript:doit_onkeypress(event);" placeholder="enter your name">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" id="email2" class="form-label">Email address</label>
                <input type="email" name="email" id="email" class="form-control" onkeypress="javascript:doit_onkeypress(event);" placeholder="enter email"
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" id="password2" class="form-label">Password</label>
                <input type="password" name="password" id="password" onkeypress="javascript:doit_onkeypress(event);" class="form-control"
                    placeholder="enter your password">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" id="password12" class="form-label">Confirm Password</label>
                <input type="password" name="password1" id="password1" onkeypress="javascript:doit_onkeypress(event);" class="form-control"
                    placeholder="confirm your password">
            </div>
            <button type="button" onclick="register()" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
{% endblock %}